# Exercise 1

## Algorithm

In [10]:
def sum1(n):
    """
    this function is used to find the sum of the following series
      X = 1/(1-2^2 )+1/(1-3^3 )+⋯+1/(1-n^n )
    input: n - non-negative integer
    output: X
    """
    result = 0
    for i in range(2,n+1):
      result = result + 1/(1-i**i)
    return result

In [11]:
sum1(3)

-0.3717948717948718

In [12]:
sum1(5)

-0.37603654285510124

## Analysis

1) Input size $n => T(n)$

2) Basic operation: exponentiation on line 10

3) Worst cases: no

4) $T(n) = 1 + 1 +  .... +  1 = n$

# Exercise 2

## Algorithm

In [13]:
def sum2(n,m):
    """
    this function is used to find the sum of the following series
        Y=1/(1+m)-1/(1+m^2 )+1/(1+m^3 )-…+(-1)^(n+1)  1/(1+m^n )
    input: n - non-negative integer, m - integer
    output: Y
    """
    result = 0
    for i in range(1,n+1):
      result = result + ((-1)**(i + 1))*(1/m**i)
    print(result)

In [14]:
sum2(5,2)

0.34375

In [15]:
sum2(2,5)

0.16

## Analysis

1) Input size $n => T(n)$

2) Basic operation: exponentiation on line 10

3) Worst cases: no

4) $T(n) = 1 + 1 +  .... +  1 = n$

# Exercise 3

## Algorithm

In [16]:
def sum3(n):
    """
    this function is used to find the sum of the following series
        Z=1^3+2^3+3^3+⋯+ n^3
    input: n - non-negative integer, m - non-negative integer
    output: Y
    """
    result = 0
    for i in range(1,n+1):
      result = result + i**i

    return result

In [17]:
sum3(5)

3413

In [18]:
sum3(2)

5

## Analysis

1) Input size $n => T(n)$

2) Basic operation: exponentiation on line 10

3) Worst cases: no

4) $T(n) = 1 + 1 +  .... +  1 = n$

# Exercise 4

## Algorithm

In [ ]:
def fac(n):
    """
    this function is used to compute the factorial of n (n!)
    input: n - non-negative integer
    output: n!
    """
    result = 1
    for i in range(1, n+1):
        result = result * i
    return result

In [ ]:
fac(0)

1

In [ ]:
fac(3)

6

##Analysis

1) Input size $n => T(n)$

2) Basic operation: "*" on line 9

3) Worst cases: no

4) $T(n) = 1 + 1+ + ....+ 1 = n$

# Exercise 5

## Algorithm

In [ ]:
def checkDis(A):
    """
    this function is used to check whether all elements in an array are distinct
    input: A - an one dimensional array
    output: True if all elements in an array are distinct
            otherwise False
    """
    for i in range(0,len(A)):
      for j in range(i + 1, len(A)):
        if (A[i] == A[j]):
          return False
    return True

In [ ]:
A = [71, 77, 47, 83, 84, 53, 51, 24, 91, 60]
checkDis(A)

True

In [ ]:
A = [71, 71, 47, 83, 84, 53, 51, 24, 91, 60]
checkDis(A)

False

## Analysis

1) Input size $n => T(n)$

2) Basic operation: "==" on line 10

3) Worst cases: All elements are distinct

4) $T(n) = 1*(n-1) + 1*(n-2) +  .... +  1*1 = n^n$

# Exercise 6

## Algorithm

In [19]:
def maxEle(A):
    """
    this function is used to  find the maximum element in an array
    input: A - the one-dimensional array whose elements are unique
    output: maximum element in an array A
    """
    max = A[0]
    for i in A:
      if (max < i):
        max = i
    return max

In [20]:
A = [71, 77, 47, 83, 84, 53, 51, 24, 91, 60]
maxEle(A)

91

In [21]:
A = [71, 77, 47, 83, 84, 53, 51, 24, 91, 600]
maxEle(A)

600

## Analysis

1) Input size $n => T(n)$

2) Basic operation: smaller comparison on line 9

3) Worst cases: The largest element is the last element of the array

4) $T(n) = 1 + 1 +  .... +  1 = n$

# Exercise 7

## Algorithm

In [22]:
def mul2Matrices(A,B):
    """
    this function is used for multiplying (×) two matrices
    input: Matrix A has size n*m and matrix B has size m*p
    output: Matrix C - result of multiplication of two matrices A and B, , whose size is n*p
    """
    n = len(A)
    m = len(A[0])
    p = len(B[0])
    C = [[0] * p for _ in range(n)]
    for i in range(n):
      for j in range(p):
        sum_product = 0
        for k in range(m):
          sum_product += A[i][k] * B[k][j]
        C[i][j] = sum_product
    return C

In [23]:
A = [
    [1, 2],
    [3, 4]
]

B = [
    [5, 6],
    [7, 8]
]

mul2Matrices(A,B)

[[19, 22], [43, 50]]

## Analysis

1) Input size $n,m,p => T(n,m,p)$

2) Basic operation: "*" on line 15

3) Worst cases: no

4) $T(n,m,p) =n*p + 1*m*1 + 1*m*1 +  .... +  1*m*1 = n*m*p$

# Exercise 8

## Algorithm

In [24]:
def mulIn(A,n):
    """
    this function is used for multiplying (×) a matrix with a number
    input: matrix A has size a*b , number n
    output: matrix A after multiplying with n
    """
    a = len(A)
    b = len(A[0])
    for i in range(0,a):
      for j in range(0,b):
        A[i][j] = A[i][j] * n;
    print(A)

In [25]:
A = [
    [1, 2],
    [3, 4]
]
mulIn(A,5)

[[5, 10], [15, 20]]

## Analysis

1) Input size $a,b => T(a,b)$

2) Basic operation: "*" on line 11

3) Worst cases: no

4) $T(a,b) = 1*b + 1*b +  .... +  1*b = a*b$

# Exercise 9

## Algorithm

In [26]:
def sub2Matrices(A,B):
    """
    this function is used for subtracting (-)  two matrices
    input: Matrix A has size n*m and matrix B has size n*m
    output: Matrix C has size n*m - the result of matrix A sub matrix B
    """
    n = len(A)
    m = len(A[0])
    C = [[0 for _ in range(m)] for _ in range(n)]
    for i in range(n):
      for j in range(m):
            C[i][j] = A[i][j] - B[i][j]
    return C

In [27]:
A = [
    [1, 2],
    [3, 4]
]

B = [
    [5, 6],
    [7, 8]
]

sub2Matrices(A,B)

[[-4, -4], [-4, -4]]

## Analysis

1) Input size $n,m => T(n,m)$

2) Basic operation: "-" on line 12

3) Worst cases: no

4) $T(n,m) =n*m + 1*m + 1*m +  .... +  1*m = n*m$

# Exercise 10

## Algorithm

In [28]:
def add2Matrices(A,B):
    """
    this function is used for adding (-)  two matrices
    input: Matrix A has size n*m and matrix B has size n*m
    output: Matrix C has size n*m - the result of matrix A add matrix B
    """
    n = len(A)
    m = len(A[0])
    C = [[0 for _ in range(m)] for _ in range(n)]
    for i in range(n):
      for j in range(m):
            C[i][j] = A[i][j] + B[i][j]
    return C

In [29]:
A = [
    [1, 2],
    [3, 4]
]

B = [
    [5, 6],
    [7, 8]
]

add2Matrices(A,B)

[[6, 8], [10, 12]]

## Analysis

1) Input size $n,m => T(n,m)$

2) Basic operation: "+" on line 12

3) Worst cases: no

4) $T(n,m) = n*m + 1*m + 1*m +  .... +  1*m = n*m$